
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

.top-stack{
  box-shadow: inset 1px 1px 50px #545454;
}
body{
  font-family: 'Manrope', sans-serif;
}
.hero{
  margin: 0;
  padding: 0;
  background: center center/cover no-repeat;
  background-image: url('Rectangle 70.png');
  filter: blur(2px);
  animation: slideshow 25s infinite;
}
@keyframes slideshow {
  0% { background-image: url('backimg/Rectangle 70.png'); }
  25% { background-image: url('backimg/Rectangle 66.png'); }
  50% { background-image: url('backimg/Rectangle 67.png'); }
  75% { background-image: url('backimg/Rectangle 71.png'); }
  100% { background-image: url('backimg/Rectangle 70.png'); }
}
.sliderimgbox{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 120% !important;
}

.slide {
  transform: scale(0.3);
  transition: transform 300ms;
  filter: blur(5px);
}

.activeSlide {
  transition: transform 300ms;
  transform: scale(.7);
  opacity: 1;
}

.adjacentSlide{
  transition: transform 300ms;
  transform: scale(.45);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}


.next {
  right: -10%;
  top: 35%;
}

.prev {
  left: -10%;
  top: 35%;
}
.mid1-container{
  background-image: url("backimg/Rectangle 1893.png");
  background-size: cover;
  z-index: 10;
  position: relative;
  font-family: 'Manrope', sans-serif;

}
.mid-heading{
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}
hr{
  border-top-width:3px;
}
.card{
  background: url("backimg/cardback.png"), rgb(33, 33, 33) 50%;
  background-size: cover;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}